# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem, is summarized.

Some of the languages used by data scientists are:\
1.Python.\
2.Julia.\
3.SQL.

Some of the commonly used libraries by data scientists are:\
1.NumPy.\
2.Pandas.\
3.Keras

|Data Science Tools|
--------------------
|Tensor Flow      |
|Apache Spark     |
|Matlab           |

below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
# This is a simple arithmetic expression to multiply two integers and then add.
a=5
b=4
c=7
d=(a+b)*c
print("Result:",d)

Result: 63

In [7]:
# This will convert 200 mins into hours by dividing by 60

a=200/60
print("Mins to Hours:",a)

Mins to Hours: 3.3333333333333335

**OBJECTIVES**:\
1.List popular languages used by data scientists.\
2.List of common libraries used in data science.\
3.List of tools used in data science.

# **AUTHOR**
  Amartya Dey